/* Estilos para os relatórios */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}
